div.autodoc-signature, div.autodoc-docstring {
  margin-bottom: 1em;
}

div.autodoc-docstring {
  padding-left: 20px;
  border-left: 5px solid rgba(230, 230, 230);
}

div.autodoc-members {
  padding-left: 20px;
  margin-bottom: 15px;
}
